<nav class="navbar"></nav>
    <div class="container">
        <nav>
            <b>
                <a href="/">Home</a> &nbsp; &nbsp; &nbsp;
                <a href="/about">About</a> &nbsp; &nbsp; &nbsp;
                <a href="/student">Student</a> &nbsp; &nbsp; &nbsp;
                <a href="/teacher">Teacher</a> &nbsp; &nbsp; &nbsp;
                <a href="/courses">Courses</a>&nbsp; &nbsp; &nbsp;
                <a href="/create">Create a Course</a> &nbsp; &nbsp; &nbsp;
            </b>
        </nav>

        <img class="image" src='img/logo.png' alt="Logo Image" style="padding:20px;width:100%;height:500px;">
        
    </div>
</nav>
