<nav class="navbar"></nav>
    <div class="nav-container">
        <nav>
            <ul>
                
                <li><a href="/">Home</a></li> &nbsp; &nbsp; &nbsp;
                
                <% if (user) { %>
                    <% if (user.role === 'student') { %>
                        <li>Welcome, <%= user.email %>! </li> &nbsp; &nbsp; &nbsp;
                        <li><a href="/about">About</a></li> &nbsp; &nbsp; &nbsp;
                        <li><a href="/courses">Courses</a></li> &nbsp; &nbsp; &nbsp;
                        <li><a href="/logout" class="navbtn">Logout</a></li> &nbsp; &nbsp; &nbsp;

                    <% } else { %>
                        <li>Welcome, <%= user.email %>! </li> &nbsp; &nbsp; &nbsp;
                        <li><a href="/about">About</a></li> &nbsp; &nbsp; &nbsp;
                        <li><a href="/courses">Courses</a></li> &nbsp; &nbsp; &nbsp;
                        <li><a href="/create">Create a Course</a></li> &nbsp; &nbsp; &nbsp;
                        <li><a href="/logout" class="navbtn">Logout</a></li> &nbsp; &nbsp; &nbsp;
                    <% } %>
                <% } else { %>
                    <li><a href="/about">About</a></li> &nbsp; &nbsp; &nbsp;
                    <li><a href="/courses">Courses</a></li> &nbsp; &nbsp; &nbsp;
                    <li><a href="/login" class="navbtn">Login</a></li> &nbsp; &nbsp; &nbsp;
                    <li><a href="/signup" class="navbtn">Sign Up</a></li> &nbsp; &nbsp; &nbsp;
                <% } %>
                    
            </ul>
        </nav>

        <img class="image" src='/img/logo.png' alt="Logo Image">
        
    </div>
</nav>
