body {
  background-color: #000080;
  background-image: linear-gradient(#000080,#000080);
  background-repeat: no-repeat;
  color: #000080;
  font-family: sans-serif;
}

header {
  background-color: #000080;
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 72px;
  color: #000000.;
  font-family: sans-serif;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

h1 {
  text-align: center;
  padding-top: .5em;
}

nav {
  font-weight: bold;
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  text-align: center;
}

  nav a {
      text-decoration: underline overline;
  }

h2 {
  color: #000080;
  font-family: cursive fantasy;
}

h3 {
  font-family: cursive fantasy;
}


footer {
  font-size: .70em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

#wrapper {
  background-color: #66CDAA;
  width: 80%;
  min-width: 960px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 5px cyan;
}

#studentHero {
  height: 300px;
  background-image: url("../img/student.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#aboutHero {
  height: 300px;
  background-image: url("../img/about.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#indexHero {
  height: 300px;
  background-image:

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#teacherHero { background-image: url(teacher.png);
  background-size: 100% 100%;
  height: 300px;
  background-repeat: no-repeat;
}

.resort {
  height: 72px;
}
