<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <!--About Us Description-->
        <section class="">
            <div class="container">

                <div id="flow">
                    <section>
                        <h3>Skylar</h3>
                        <img class="image" src="img/logo.png" alt="Logo Image" style="padding:20px;width:100%;height:500px;">
                        <p>
                            Webpage Developer
                        </p>
                    </section>
                    <section>
                        <h3>Lorena</h3>
                        <p>
                            Graphic Designer
                        </p>
                    </section>
                    <section>
                        <h3>Liza</h3>
                        <p>
                            Graphic Designer
                        </p>
                    </section>
                    <section>
                        <h3>Daniel</h3>
                        <p>
                            Database Manager
                        </p>
                    </section>
                </div>
            </div>
        </section>

        <%- include('./partials/footer.ejs') %>

    </body>

</html>