<html lang="en">

    <%- include('./partials/head.ejs') %>
    
    <body>

        <%- include('./partials/nav.ejs') %>

        <div id="indexHero">
            <!--Introduction-->
            <section class="intro-section">
                <div class="container">
                    <h1 style="font-family:cursive;">Welcome to Baja Blast Courses</h1>
                    <p>
                        <h4 style="font-family:cursive;">Are you a Student looking for courses to enroll?</h4>
                    </p>
                    <p><h4 style="font-family:cursive;">
                    Or maybe you are a Teacher looking to create a new Course?
                    </h4></p>
                    <p><h4 style="font-family:cursive;">Login down below to get started</h4>
                    </p>
                    <!--<a href="login.html" class="">Login</a> <!--Sends to login page then user logs in as student or teacher then redirects them to either the student or teacher webpage?-->
                </div>
            </section>
        </div>

        <!--Student, Teacher, & About Sections-->
        <section class="">
            <div class="container">
                <!--Student Section-->
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="student-card-title">
                                <h3>Students</h3>
                            </div>
                            <p class="student-card-text">
                                Browse through all of our courses offered
                            </p>
                            <a href="/login" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </div>
                <!--Teacher Section-->
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="teacher-card-title">
                                <h3>Teacher</h3>
                            </div>
                            <p class="teacher-card-text">
                                As a Teacher, you can create courses for Students to 
                                view and enroll in. Only the creator of a course can 
                                make any changes to it
                            </p>
                            <a href="/login" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </div>
                <!--About Section-->
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="about-card-title">
                                <h3>About</h3>
                            </div>
                            <p class="about-card-text">
                                Click here to learn more about the Team behind Baja Blast Courses
                            </p>
                            <a href="/about" class="btn btn-primary">About Us</a>
                        </div>
                    </div>
                </div>
                 <!--Courses Section-->
                <div class="col-md"></div>
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="courses-card-title">
                                <h3>Courses</h3>
                            </div>
                            <p class="courses-card-text">
                                Many different courses are offered. Click here to 
                                see which Courses are the right fit for you!
                            </p>
                            <a href="/courses" class="btn btn-primary">Offered Courses</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>