<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div id="teacherHero"></div>

        </div>
        <!--Login Section-->
        <section class="">
            <div class="container">
                <h3>Login Here</h3>

                <div class="input-group news-input">
                    <input type="text"
                           class="form-control"
                           placeholder="Enter Email" />
                    <input type="text"
                           class="form-control"
                           placeholder="Enter Password" />
                    <button class="btn btn-dark btn-lg"
                            type="button">
                        Login
                    </button>
                </div>
            </div>
        </section>

        <%- include('./partials/footer.ejs') %>

    </body>

</html>