body {
    background-color: #7E543A;
    background-image: linear-gradient(#1BD7BB,#0F52BA);
    background-repeat: no-repeat;
    color: #964B00;
    font-family: cursive fantasy;
}

header {
    background-color: #3F00FF;
    background-image: url("./img/banner.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 72px;
    color: #E7D2AD;
    font-family: georgia;
}

main {
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    text-align: center;
    padding-top: .5em;
}

nav {
    font-weight: bold;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    text-align: center;   
}

nav li a {
    text-transform: uppercase;
    display: block;
}

h2 {
    color: #472A2B;
    font-family: cursive fantasy;
}

h3 {
    font-family: cursive fantasy;
}


footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

#wrapper {
    background-color: #89CFF0;
    width: 80%;
    min-width: 960px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px black;
}

#studentHero {
    height: 300px;
    background-image: url("./img/student.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#aboutHero {
    height: 300px;
    background-image: url("../img/about.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#indexHero {
    height: 300px;
    

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#teacherHero {
    height: 300px;
    background-image: url("./img/teacher.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.resort {
    height: 72px;
}

/* create styles */
  .create-blog form{
    max-width: 400px;
    margin: 0 auto;
  }
  .create-blog input,
  .create-blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 4px;
  }
  .create-blog label{
    display: block;
    margin-top: 6px;
  }
  textarea{
    height: 70px;
  }
  .create-blog button{
    margin-top: 10px;
    background: crimson;
    color: white;
    padding: 3px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
  }

  
  a.delete, a.update {
    cursor: pointer; /* Ensure that the pointer shows it's clickable */
    color: blue; /* Make sure it stands out visually */
    display: inline-block; /* Makes sure the element has proper size */
    padding: 10px;
  }

  .delete{
    position: relative;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
  }
  .delete:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(173, 5, 5, 0.2);
    color: white;
    background-color: blue;
  }
  .update{
    position: relative;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
  }
  .update:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(173, 5, 5, 0.2);
    color: white;
    background-color: blue;
  }

  .content{
    margin-left: 20px;
  }

  a.single {
    color: black;
  }
  a.single:hover {
    color: white;
  }
 



  /* details styles */
  .details{
    position: relative;
  }
  
/* Added by Skylar */
/* Edit page Styles */
.create-course-content {
  box-sizing: border-box;
  padding: 12px;
}
.create-course-content input[type=text], input[type=number], input[type=date] {
  width: 100%;
  padding: 12px;
  resize: vertical;
  background-color: rgb(190, 189, 189);
}
.create-course-content textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
  height: 150px;
  background-color: rgb(190, 189, 189);
}
.create-course-content label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.create-course-content button[type=submit]:hover {
  background-color: rgb(30, 30, 226);
}
.nav-container img{
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
  
}
nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Login and Sign Up Pages Styles */
.user-info {
  min-height: 100px;
  display: flex;
  /* border: 8px solid black; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-info button:hover {
  background-color: #0288ec;
}
.intro-section div{
  text-align: center;
}
.student-card-title h3 {
  color: #0288ec;
}
.teacher-card-title h3 {
  color: #0288ec;
}
.about-card-title h3 {
  color: #0288ec;
}
.courses-card-title h3 {
  color: #0288ec;
}
.cartTab {
  width: 30%;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 15% -400px 15% auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  border-radius: 15px;
}
body.showCart .cartTab {
  inset: 15% 0 15% auto;
}
.cartTab .listCart {
  display: grid;
  width: 75px;
  margin-left: 150px;
  margin-top: 50px;
}
.cartTab .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}

.name {
  word-break: break-all;
}



